*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
/*descendent selector*/
#descendent p{
  color:red;
}
/*child selector*/
#child>p{
    color:red;
}
/*Adjacent selector*/


/*General Sibling selector*/
div~p{
    color: blue;
}

a{
    text-decoration: none;
    color:white;
    background-color: blue;
   padding: 6px;
}